@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Vintage";
  src: url("/fonts/VintageWaves-GOwxm.otf");
}
